@import "../font/font.scss";

.clients-info {
    @extend %font;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: black;
    color: white;
      &__title {
        margin-bottom: 14rem;
        font-size: calc(16px + 8 * (100vw / 1310));
      }
      &__logo-list {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-around;
        &-item {
          &_mar-top {
            margin-top: -1.2rem;
          }
        }
      }
      &__subtitle {
        font-size: calc(12px + 8 * (100vw / 1310));
      }
  
  }