@import "../font/font.scss";
.logo {
    @extend %font;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4vh;
    width: 4vw;
    &__text {
        font-size: 100%;
        letter-spacing: -0.03em;
        font-weight:600;
        padding: 0.3rem;
    }
}