@import "../font/font.scss";

.demo {
    @extend %font;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 32vh;
    background-color: black;
    &__text {
        
        font-size: calc(23px + 16 * (100vw / 1310));
        color: white;
    }
    &__button {
        border-radius: 0px;
        width: 8%;
        height: 18%;
        font-size: calc(5px + 8 * (100vw / 1310));
        border: none;
    }
}

.footer {
    @extend %font;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 60vh;
    &__lists {
        margin-top: 5rem;
        width: 40vw;
        display: flex;
        justify-content: space-around;
        &-title {
            font-size: calc(16px + 7 * (100vw / 1980));
        }
        &-item {
            margin-top: 1rem;
            font-size: calc(10px + 5 * (100vw / 1980));
            &_first {
                margin-top: 3rem;
            }
        }
    }
    &__bottom {
        display: flex;
        margin-top: auto;
        margin-bottom: 4rem;
        justify-content: flex-end;
        width: 100%;
        &-item {
            font-size: calc(10px + 5 * (100vw / 1980));
            &_agreements {
                display: flex;
                justify-content: space-around;
                flex-basis: 30%;
            }
            &:not(.footer__bottom-item_agreements){
                padding-left: 2rem;
                flex-basis: 70%;
            }
        }
    }
}